html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

@media (max-width: 63.9375em) {
  body {
    font-size: 0.875rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 64em) {
  .flex-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .flex-c-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botonCTA {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  min-height: 55px;
  min-width: 300px;
  padding: 0 10px;
  background-color: #0c4c8a;
  border: 1px solid #0c4c8a;
  border-radius: 50px;
  cursor: pointer;
  outline: 0;
}

@media (max-width: 63.9375em) {
  .botonCTA {
    font-size: 1.25rem;
    min-height: 50px;
    min-width: 220px;
  }
}

.card {
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.cardBlue {
  border: 1px solid #0c4c8a;
  background-color: #0c4c8a;
  color: white;
}

.cardTransp {
  border: 2px solid #0c4c8a;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 25px;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  z-index: 10;
  width: 100%;
}

.header__logo > img {
  height: 70px;
  margin-left: 60px;
  margin-right: 50px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__logo > h2 {
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
}

.header__logoScroll > img {
  height: 55px;
  -webkit-filter: none;
          filter: none;
}

.header__logoScroll > h2 {
  color: white;
}

.headerScroll {
  background-color: #0c4c8a;
}

@media (max-width: 63.9375em) {
  .headerScroll {
    background-color: transparent;
  }
}

.header__nav {
  margin-right: 40px;
  width: 650px;
  height: 90px;
}

@media (max-width: (87, 4375em)) {
  .header__nav {
    width: 500px;
  }
}

.header__nav > a {
  text-transform: uppercase;
  font-size: 1.125rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__navScroll > a {
  color: white;
}

.header__hamburger {
  position: fixed;
  background-color: transparent;
  top: 10px;
  right: 5px;
  padding: 15px;
  outline: none;
  z-index: 10;
}

.header__hamburger > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #626262;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 1.5px 1.5px;
          transform-origin: 1.5px 1.5px;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__hamburger.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hamburger.open > span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__navMobile {
  position: fixed;
  top: 0;
  right: -100vw;
  background-image: url(../img/heromobile.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__navMobileOpen {
  right: 0;
}

.header__navMobileContent {
  margin-top: 15vh;
  margin-left: 18vw;
  height: 45vh;
}

.header__navMobileContent > a {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

@media (max-width: 63.9375em) {
  .hero {
    background-image: url(../img/heromobile.jpg);
    background-position: center center;
  }
}

.hero__logo > img {
  height: 25vh;
}

@media (max-width: 63.9375em) {
  .hero__logo > img {
    height: 20vh;
  }
}

.hero__logo > h2 {
  font-weight: 400;
  font-size: 2.75rem;
  margin: 3.7vh 0;
}

@media (max-width: 63.9375em) {
  .hero__logo > h2 {
    font-size: 1.5rem;
  }
}

.hero > p {
  font-size: 1.25rem;
  text-align: center;
  margin: 0 20%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 63.9375em) {
  .hero > p {
    font-size: 1.125rem;
    margin: 0 7vw;
  }
}

.hero > .botonCTA {
  margin-top: 3.7vh;
}

h1 {
  font-size: 1.75rem;
}

@media (max-width: 63.9375em) {
  h1 {
    font-size: 1.5rem;
  }
}

.about {
  text-align: center;
  padding: 25vh 0;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .about {
    padding: 15vh 7vw;
  }
}

.about > p {
  margin: 7.5% 0;
  font-size: 1.125rem;
}

@media (max-width: 63.9375em) {
  .about > p {
    margin: 7vh 0;
  }
}

@media (max-width: 63.9375em) {
  .about__rowBotones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__rowBotones .botonCTA:not(:first-child) {
    margin-top: 5vh;
  }
}

.servicios {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/servicios.jpg);
  background-size: cover;
  background-position: center top;
  text-align: center;
  padding: 18vh 0;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .servicios {
    padding: 15vh 7vw;
  }
}

.servicios > h2 {
  font-size: 1.75rem;
  margin-bottom: 9vh;
}

.servicios__row {
  max-width: 1500px;
  margin: 0 20px;
}

@media (max-width: 63.9375em) {
  .servicios__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.servicios__rowCard {
  width: 31%;
  min-height: 750px;
}

@media (max-width: 63.9375em) {
  .servicios__rowCard {
    position: relative;
    width: 65vw;
    min-height: 120px;
  }
  .servicios__rowCard:not(:first-child) {
    margin-top: 7vh;
  }
}

.servicios__rowCard:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.servicios__rowCard_principal {
  margin: 40px 50px 60px;
}

.servicios__rowCard_principal > i {
  padding: 0;
  margin: 1vh 0;
  pointer-events: none;
}

.servicios__rowCard_principal > h3 {
  font-weight: 400;
  pointer-events: none;
}

.servicios__rowCard_principal > span {
  width: 50%;
  border-bottom: 1px solid lightgray;
}

.servicios__rowCard_principal > p {
  padding-top: 1vh;
  font-size: inherit;
  font-weight: inherit;
}

.servicios__rowCard_principal > p:not(:last-child) {
  padding-bottom: 1vh;
}

.servicios__rowCard_principal > h4 {
  padding-top: 1vh;
  font-size: inherit;
  font-weight: 300;
}

.servicios__rowCard_principal > h4:not(:last-child) {
  padding-bottom: 1vh;
}

@media (max-width: 63.9375em) {
  .servicios__rowCard_principalContenido {
    max-height: 0px;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.spanCard {
  width: 50%;
  border-bottom: 1px solid lightgray;
  display: block;
  margin: 0 auto;
}

.pCard {
  padding-top: 1vh;
  padding: inherit;
  font-size: inherit;
  font-weight: 300;
}

.pCard:not(:last-child) {
  padding-bottom: 1vh;
}

@media (max-width: 63.9375em) {
  .contenidoOpen {
    opacity: 1;
    max-height: 200vh;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }
}

.planes {
  text-align: center;
  padding: 18vh 0;
  margin: 0 auto;
}

.planes > h2 {
  font-size: 1.75rem;
  margin-bottom: 9vh;
}

.planes__row {
  max-width: 1500px;
  margin: 0 20px;
}

.planes__rowCard {
  position: relative;
  width: 32%;
  padding: 40px 50px 60px;
}

.planes__rowCard > a {
  position: absolute;
  bottom: -32.5px;
  width: 250px;
}

.planes__rowCard_contenido > h3 {
  padding: 0 10px;
}

.planes-mobile {
  text-align: center;
  padding: 10vh 7vw;
  margin: 0 auto;
}

.planes-mobile > h2 {
  margin-bottom: 9vh;
}

.planes-mobile__Card {
  position: relative;
  width: 65vw;
  padding-left: 7vw;
  padding-right: 7vw;
}

.planes-mobile__Card > a {
  position: absolute;
  bottom: -32.5px;
  min-width: 170px;
}

.planes-mobile__CardContenido {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.planes-mobile__accordContenido {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}

.planes-mobile__span {
  width: 100%;
  border-bottom: 1px solid black;
  display: block;
  margin: 0 auto;
}

.trabajos {
  padding-top: 80px;
}

.trabajos__rowSide {
  width: 50%;
}

.trabajos__rowSideContenido {
  padding: 50px 80px;
  margin: auto 0;
}

.trabajos__rowSideContenido > h2 {
  text-align: center;
}

.autoproteccion {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/autoproteccion.jpg);
  background-size: cover;
  background-position: left top;
  min-height: 100vh;
}

.bioseguridad {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/bioseguridad.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.capacitaciones {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/capacitaciones.jpg);
  background-size: cover;
  background-position: left top;
  min-height: 100vh;
}

.otrosServicios {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/otrosServicios.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.contacto {
  padding-top: 100px;
  margin-bottom: 150px;
}

@media (max-width: 63.9375em) {
  .contacto {
    padding-top: 50px;
  }
}

.contacto > h2 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 50px;
}

.contacto__formulario {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .contacto__formulario {
    padding-right: 7vw;
    padding-left: 7vw;
  }
}

.contacto__formularioContenido > input:not([type="submit"]) {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  min-height: 2.4rem;
  border: 1px solid #0c4c8a;
  border-radius: 5px;
  padding: 5px;
}

.contacto__formularioContenido > input:not([type="submit"]):not(:last-child) {
  margin-bottom: 20px;
}

.contacto__formularioContenido > input[type="submit"] {
  font-size: 1.5rem;
  margin-top: 30px;
  padding: 0 20px;
}

@media (max-width: 63.9375em) {
  .contacto__formularioContenido > input[type="submit"] {
    font-size: 1.125rem;
    margin-top: 15px;
    padding-top: 0 10px;
  }
}

.contacto__formularioContenido > textarea {
  font-family: inherit;
  font-size: 1rem;
  min-width: 100%;
  max-width: 100%;
  min-height: 4.8rem;
  border: 1px solid #0c4c8a;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.footer {
  background-color: #0c4c8a;
  padding: 60px 30vh 50px 10vh;
}

@media (max-width: 63.9375em) {
  .footer {
    padding: 10vh 12vw;
  }
}

.footer__datos {
  color: white;
  line-height: 20px;
  font-size: 1.25rem;
}

.footer__linksRedes a {
  height: 50px;
}

@media (max-width: 63.9375em) {
  .footer__linksRedes a {
    margin-top: 7vh;
  }
  .footer__linksRedes a > img {
    height: 40px;
  }
}

.footer__linksRedes a:not(:last-child) {
  margin-right: 20px;
}

.footer__linksWhatsapp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  -webkit-box-shadow: -2px 2px 20px black;
          box-shadow: -2px 2px 20px black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 63.9375em) {
  .footer__linksWhatsapp {
    right: 20px;
    bottom: 20px;
    height: 70px;
    width: 70px;
  }
}

.footer__linksWhatsapp > img {
  height: 50px;
}

@media (max-width: 63.9375em) {
  .footer__linksWhatsapp > img {
    height: 45px;
  }
}

.footer__linksWhatsappScroll {
  background-color: #0c4c8a;
  border: 1px solid #0c4c8a;
}

.footer__linksWhatsappScroll > img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.breakLine {
  margin-top: 50px;
}
/*# sourceMappingURL=styles.css.map */