h1 {
  font-size: $font-xxxl;
  @include breakpoint-down(medium) {
    font-size: $font-xxl;
  }
}

.about {
  //   height: 100vh;
  text-align: center;
  padding: 25vh 0;
  max-width: 1100px;
  margin: 0 auto;

  @include breakpoint-down(medium) {
    padding: 15vh 7vw;
  }

  > p {
    margin: 7.5% 0;
    font-size: $font-lg;

    @include breakpoint-down(medium) {
      margin: 7vh 0;
    }
  }

  &__rowBotones {
    @include breakpoint-down(medium) {
      flex-direction: column;
      .botonCTA {
        &:not(:first-child) {
          margin-top: 5vh;
        }
      }
    }
  }
}
