.footer {
  background-color: $color-blue;
  padding: 60px 300px 50px 120px;
  &__datos {
    color: white;
    line-height: 20px;
    font-size: $font-xl;
  }

  &__links {
    &Redes {
      a {
        height: 50px;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    &Whatsapp {
      position: fixed;
      right: 30px;
      bottom: 30px;
      background-color: white;
      border: 1px solid white;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      box-shadow: -2px 2px 20px black;
      transition: $trans-1s;

      > img {
        height: 50px;
      }

      &Scroll {
        background-color: $color-blue;
        border: 1px solid $color-blue;

        > img {
          filter: invert(100%);
        }
      }
    }
  }
}

.breakLine {
  margin-top: 50px;
}
