.footer {
  background-color: $color-blue;
  padding: 60px 30vh 50px 10vh;

  @include breakpoint-down(medium) {
    padding: 10vh 12vw;
  }
  &__datos {
    color: white;
    line-height: 20px;
    font-size: $font-xl;
  }

  &__links {
    &Redes {
      a {
        height: 50px;

        @include breakpoint-down(medium) {
          margin-top: 7vh;
          > img {
            height: 40px;
          }
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    &Whatsapp {
      position: fixed;
      right: 30px;
      bottom: 30px;
      background-color: white;
      border: 1px solid white;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      box-shadow: -2px 2px 20px black;
      transition: $trans-1s;
      @include breakpoint-down(medium) {
        right: 20px;
        bottom: 20px;
        height: 70px;
        width: 70px;
      }

      > img {
        height: 50px;
        @include breakpoint-down(medium) {
          height: 45px;
        }
      }

      &Scroll {
        background-color: $color-blue;
        border: 1px solid $color-blue;

        > img {
          filter: invert(100%);
        }
      }
    }
  }
}

.breakLine {
  margin-top: 50px;
}
