html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $font-md;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;

  @include breakpoint-down(medium) {
    font-size: $font-sm;
  }
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;

  &-desktop {
    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &-c {
    flex-direction: column;
  }

  &-c-mobile {
    @include breakpoint-up(large) {
      flex-direction: column;
    }
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}

.botonCTA {
  // display: block;
  font-family: inherit;
  font-size: $font-xxl;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  min-height: 55px;
  min-width: 300px;
  padding: 0 10px;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: 50px;
  cursor: pointer;
  outline: 0;

  @include breakpoint-down(medium) {
    font-size: $font-xl;
    min-height: 50px;
    min-width: 220px;
  }
}

.card {
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(black, 0.4);

  &Blue {
    border: 1px solid $color-blue;
    background-color: $color-blue;
    color: white;
  }

  &Transp {
    border: 2px solid $color-blue;
    box-shadow: none;
    border-radius: 25px;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
