.planes {
  text-align: center;
  padding: 18vh 0;
  margin: 0 auto;

  > h2 {
    font-size: $font-32;
    margin-bottom: 9vh;
  }
  &__row {
    min-width: 1200px;
    max-width: 1500px;
    margin: 0 20px;
    &Card {
      position: relative;
      width: 32%;
      //   min-height: 500px;
      padding: 40px 50px 60px;
      > button {
        position: absolute;
        bottom: -32.5px;
        width: 250px;
      }
      &_contenido {
        > h3 {
          padding: 0 10px;
        }
      }
    }
  }
}
