.planes {
  text-align: center;
  padding: 18vh 0;
  margin: 0 auto;

  > h2 {
    font-size: $font-xxxl;
    margin-bottom: 9vh;
  }
  &__row {
    // min-width: 1200px;
    max-width: 1500px;
    margin: 0 20px;
    &Card {
      position: relative;
      width: 32%;
      //   min-height: 500px;
      padding: 40px 50px 60px;
      > a {
        position: absolute;
        bottom: -32.5px;
        width: 250px;
      }
      &_contenido {
        > h3 {
          padding: 0 10px;
        }
      }
    }
  }
}

.planes-mobile {
  text-align: center;
  padding: 10vh 7vw;
  margin: 0 auto;
  > h2 {
    margin-bottom: 9vh;
  }

  &__Card {
    position: relative;
    width: 65vw;
    padding-left: 7vw;
    padding-right: 7vw;

    > a {
      position: absolute;
      bottom: -32.5px;
      min-width: 170px;
    }

    &Contenido {
      padding-top: 3vh;
      padding-bottom: 3vh;
    }
  }

  &__accordBoton {
    &Active {
    }
  }

  &__accordContenido {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
  }

  &__span {
    width: 100%;
    border-bottom: 1px solid black;
    display: block;
    margin: 0 auto;
  }
}
