// Tamaño Tipografia
$font-xs: 0.875rem; // 14 px
$font-sm: 0.875rem; // 14 px
$font-md: 1rem; // 16 px
$font-lg: 1.125rem; // 18 px
$font-xl: 1.25rem; // 20 px
$font-xxl: 1.5rem; // 24 px
$font-xxxl: 1.75rem; // 28 px
$font-44: 2.75rem; // 44 px

// Color

$color-gray: #626262;
$color-blue: #0c4c8a;

// Transition

$trans-1s: all 0.5s ease-in-out;
